.cluster-search {
  float: right;
}


div.cluster-item {
  cursor: default;
  &:hover {
    background-color: #f7f7f7;
  }

  p {
    font-size: 2em;
    margin-bottom: 0em;
  }

  small {
    color: gray;
    font-size: 1em;
  }

  /** Style DB icons not provided by FontAwsome */
  span.db-icon {
    background-size: cover;
    display: inline-block;
    width: 32px;
    height: 32px;

    &.mongodb {
      /**
       * MongoDB icon from https://github.com/mongodb-js/leaf
       * (exact link: https://mongodb-js.github.io/leaf/mongodb-leaf_32x32@2x.png)
       */
      background-image: url('./mongodb-leaf.png');
    }
  }
}


div.cluster-tabs {
  font-size: small;
  margin-bottom: 1em;

  a {
    color: black;
    margin-right: 1em;

    &:hover {
      text-decoration: none;
      border-bottom: 2px solid rgb(146, 195, 247);
    }

    &.active {
      border-bottom: 2px solid rgb(146, 195, 247);
    }
  }
}
