.cluster-search {
  float: right;
}


div.cluster-item {
  cursor: default;
  &:hover {
    background-color: #f7f7f7;
  }

  p {
    font-size: 2em;
    margin-bottom: 0em;
  }

  small {
    color: gray;
    font-size: 1em;
  }
}


div.cluster-tabs {
  font-size: small;
  margin-bottom: 1em;

  a {
    color: black;
    margin-right: 1em;

    &:hover {
      text-decoration: none;
      border-bottom: 2px solid rgb(146, 195, 247);
    }

    &.active {
      border-bottom: 2px solid rgb(146, 195, 247);
    }
  }
}
