.cluster-search {
  float: right;
}


div.cluster-item {
  cursor: default;
  &:hover {
    background-color: #f7f7f7;
  }

  p {
    font-size: 2em;
    margin-bottom: 0em;
  }

  small {
    color: gray;
    font-size: 1em;
  }
}


div.cluster-tabs {
  font-size: small;
  margin-bottom: 1em;

  a {
    color: black;
    margin-right: 1em;

    &:hover {
      text-decoration: none;
      border-bottom: 2px solid rgb(146, 195, 247);
    }

    &.active {
      border-bottom: 2px solid rgb(146, 195, 247);
    }
  }
}

div.actions-container {
  div.actions-list {
    height: 45vh;

    div.actions-search {
      .pad-left {
        margin-left: 1em;
      }

      .search-btn {
        margin-bottom: 0.5em;
        margin-top: 0.5em;
        text-align: right;
      }

      .search-fields {
        display: flex;
        justify-content: space-between;
      }
    }

    td.no-actions {
      color: gray;
      font-style: italic;
      text-align: center;
    }
  }

  div.timeline-container {
    border-top: 1px solid #dee2e6;
    padding-top: 1em;

    .space-above {
      margin-top: 1em;
    }
  }

  span.placeholder {
    color: gray;
    font-style: italic;
  }
}
