body div#app div.container .large-icon {
  color: rgb(218, 218, 218);
  font-size: 4em;
}

p.large-icon.nodata {
  .overlay {
    color: rgb(142, 142, 142);
  }
}


/** Style DB icons not provided by FontAwsome */
span.db-icon {
  background-size: cover;
  display: inline-block;
  width: 32px;
  height: 32px;

  &.kafka {
    /**
     * Kafka icon from https://www.vectorlogo.zone/logos/apache_kafka/index.html
     * (exact link: https://www.vectorlogo.zone/logos/apache_kafka/apache_kafka-icon.svg)
     */
    background-image: url('./kafka.svg');
  }

  &.mongodb {
    /**
     * MongoDB icon from https://github.com/mongodb-js/leaf
     * (exact link: https://mongodb-js.github.io/leaf/mongodb-leaf_32x32@2x.png)
     */
    background-image: url('./mongodb-leaf.png');
  }

  &.zookeeper {
    /**
     * Zookeeper icon from https://zookeeper.apache.org/doc/r3.1.2/images/zookeeper_small.gif
     */
    background-image: url('./zookeeper.gif');
  }
}
